	<head>

		<!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
		<title>Arquiteto Movel | Programação & Reviews Tech</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="author" content="Alexandre Alves Danelon">
		<meta name="description" content="Tutoriais de programação dotnet, swift & Reviews de Gadgets | iOS | Android | Windows">
		<meta name="google-site-verification" content="3cs98tdyiuRGMC_LSPtyW-zJPMNidr4LTn3TQgpnSnA" />

		<!-- ==============================================
		Favicons
		=============================================== -->
		<link rel="shortcut icon" href="assets/favicon.ico">
		<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
		
		<!-- ==============================================
		CSS
		=============================================== -->    
		<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/css/flexslider.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/css/amovel-theme.css" | prepend: site.baseurl }}">
		
		
		<!-- ==============================================
		Fonts
		=============================================== -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
		
		<!-- ==============================================
		JS
		=============================================== -->
			
		<!--[if lt IE 9]>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="{{ site.baseurl }}/js/libs/modernizr.min.js"></script>
		
		
	</head>
