<!DOCTYPE html>
<html lang="en-US" class="no-js">
	 {% include ahead.html %}
  
	<body>
	
		{% include aheader.html %}
		
		{{ content }}
		
		<!-- ==============================================
		TWITTER FEED
		=============================================== -->	
		<section id="twitter">
			<div class="container">
				<div class="row scrollimation fade-in">
					<div class="col-sm-1 twitter-icon">
						<i class="fa fa-twitter"></i>
					</div>
					<div class="col-sm-11">
						<div id="twitter-slider" class="flexslider" data-widget-id="26666739" data-tweets-length="3">
						
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
			
		</section><!-- End Twitter section -->
		{% include afoot.html %}
	</body>
	
</html>